<h1>Product list</h1>

<div class="product-list" *ngFor="let item of list; index as i;">
  <div>
    <img src="{{serverUrl}}{{item.images[0].name}}" alt="product image">
  </div>
</div>


<!--

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
  <tr>
    <th>Date</th>
    <th>Temp. (C)</th>
    <th>Temp. (F)</th>
    <th>Summary</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let forecast of forecasts">
    <td>{{ forecast.date }}</td>
    <td>{{ forecast.temperatureC }}</td>
    <td>{{ forecast.temperatureF }}</td>
    <td>{{ forecast.summary }}</td>
  </tr>
  </tbody>
</table>
-->
